@import "compass/reset";
@import "compass/css3";
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;900&display=swap');

/*base styles*/
$midnight : #003E7E;
$gold : #FFD200;
$azure : #3BB2F1;
$medium : #737571;
$blue : #AFD5E9;
$drkgray : #4A4A47;
$ltgray : #BDBBB5;

$font : 'Source Sans Pro', sans-serif;
$font-light : 300;
$font-black : 900;

$grid : 1140px;
