/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "base";
//core styles
html {
  scroll-behavior: smooth;
}
body {
  font-family: $font;
  background-color:white;
  width:100vw;
  height:100vh;
  line-height: 1.4rem;
}
h1 {
    font-size: 2.25rem;
    text-transform: uppercase;
    margin: 1.5% 0;
    text-align: left;
}
h1 span {
  color:$gold;
  font-weight:$font-black;
}
h2 {
  font-size:40px;
  color:$midnight;
  font-weight:$font-black;
  text-transform: uppercase;
  margin:50px 0 20px;
  line-height: 2rem;
}
h3 {
  color:$midnight;
  font-size:40px;
  line-height: 2rem;
  margin-bottom: 1rem;
}
h4 {
  color:white;
  font-size:1.6rem;
  margin: 20px 0 0;
  font-weight: $font-black;
  line-height: 2rem;
}
strong {
  font-weight:$font-black;
}
em {
  font-style: italic;
}
button.btn:focus {
  outline:0 !important;
  box-shadow:none;
}
button[id='finance']{
  margin-top:1rem;
}
button.btn-lg.btn-outline-primary {
  color:$midnight;
  border-style:solid;
}
button.btn-lg.btn-outline-primary:hover {
  color:white;
}
button.btn-primary {
background-color:$azure;
border-color:$azure;
}
button.btn-outline-primary {
  color:$gold;
  border-color:$azure;
background-color:transparent;
}
button.btn-primary:hover,button.btn-outline-primary:hover{
  background-color:$midnight;
  border-color:$midnight;
}
.navbar {
  padding:.5rem 0;
}
button.navbar-toggler span {
  color:white;
  font-size:2.2rem;
}
.btn-ltr {
  font-size: 1rem;
    text-align: left;
    margin: .5rem 0;
}
.utlogo {
  width:100%;
}
.navbar-brand a {
  display: inline-block;
  min-width:300px;
}
//main section styles
#title {
  margin-top:8rem;
}

main.container-fluid {
  padding-left: 0;
  padding-right: 0;
  width:100vw;
}
main section:nth-child(1) {
  min-height:640px;
  background-image:url(../images/main_bkg.jpg);
  background-position:center;
  background-size:cover;
  color:white;
  padding-top:1.8rem;
}
main section:nth-child(2){
  min-height:440px;
  padding-top:100px;
}
main a {
  text-decoration:none;
  color:white;
}
main nav.navbar a{
  font-size:1.3rem;
  padding-left: 20px;
}
main a:hover {
  color:$gold;
  text-decoration:none;
}
#links {
  text-align: right;
  padding-right: 1.8rem;
}
#links a {
  color:$gold;
}
//main styles
main {
  height:100vh;
  width:100vw;
position:absolute;
}
main section:nth-child(2) div div:nth-child(1) {
  border-top:$midnight 3px solid;
  @include box-shadow($medium 1px 0px 3px);
  padding-top:20px;
  margin-right:30px;
  min-height:273px;
}
main section:nth-child(2) div div:nth-child(1) a {
  text-decoration: none;
  color:$medium;
  margin:20px 0;
  display:block;
}
main section:nth-child(2) div div:nth-child(2) {
  border-top:$gold 3px solid;
  @include box-shadow($medium 1px 0px 3px);
  padding-top:20px;
  margin-right:40px;
  min-height:273px;
}
main section:nth-child(2) div div:nth-child(2) a {
  color:$midnight;
}

main section.container div.row div:nth-child(3) h3 {
  margin-bottom:20px;
}
main section.container div.row div:nth-child(3) {
  padding:20px;
  color:$medium;
  font-size:20px;
}
#about ul {
  list-style-type: disc;
  margin-left:1.5rem;
}
#about h4:nth-child(2) {
  font-weight: normal;
  color:$midnight;
}
.carousel-caption {
    right: 30%;
    bottom: 20px;
    left: 30%;
    max-width: 800px;
    background-color:rgba(16, 43, 95,.6);
}
.carousel-control-prev-icon {
 background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23FFD200' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23FFD200' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}
.carousel-control-next-icon, .carousel-control-prev-icon {
  width:2rem;
  height:2rem;
}
.azure {
  background-color: $ltgray;
  padding-top:2rem;
  color:$midnight;
  border-top:6px solid white;
}
section#yip.container-fluid {
  padding-right: 0;
}
#yip {
  padding-top:1.5rem;
  margin:0;
}
#yip div {
  border-top:1.5px solid white;
  border-bottom:1.5px solid white;
  box-sizing: border-box;
  box-shadow:none;
  margin:0;
}
#yip p {
  color:$midnight;
  font-size:1rem;
}
#yip p > em {
  color:$midnight;
  margin-top:10px;
  font-style: normal;
}
#yip .yipDesc > p {
  background-color:white;
}
.yipDesc {
  margin:0 auto 30px !important;
  min-height: inherit !important;
  border:none !important;
  padding:0 1rem !important;
}
.yipDesc h3 {
  font-weight: $font-black;
  text-transform: uppercase;
}
div.yipDesc p{
  font-size:1.2rem;
}
#yip h3 {
  font-weight:$font-black;
  text-transform: uppercase;
}
.yipBorder {
  border-bottom:3px solid white !important;
}

//footer stylesheet
footer {
  background-color:$gold;
  color:$midnight;
  padding:2.5rem 0;
}
footer h4 {
  color:$midnight;
}
footer a {
  text-decoration: none;
  color:$midnight;
}
footer a:hover {
  color:$medium;
}
#social img, #social2 img {
  max-width:3%;
  height:auto;
  vertical-align: middle;
  display:inline;
}
a#social {
  display:inline;
}
//letter modal stylesheet
#presltr,#yourGifts {
    background-color: rgba(255,255,255,.2);
}
.modal-header {
  background-color:$sky;
  border:none;
}
#presltr div section:nth-child(1) button {
  border:1px $gold solid;
  background-color:transparent;
  font-size:24px;
  padding:5px 20px;
}
.ltrTitle {
  margin:0 !important;
}
div.modal-body{
  padding:0;
}
div.modal-body section:nth-child(1) {
  background-color:$gold;
  min-height:auto;
}
div.modal-body section:nth-child(2) {
  padding:40px 60px;
}
div.modal-body section:nth-child(2) p {
  margin:20px 0;
  font-size:1.5rem;
  line-height:2rem;
  color:$midnight;
}
#presltr h4, #utpresltr h4 {
  color:$midnight;
  font-size:48px;
  text-transform:uppercase;
  margin-bottom:60px;
  line-height: 2.4rem;
}
#presltr img,#utpresltr img {
  display:block;
}
#presChair, #utpres {
  padding:1.5rem;
}
#presChair p, #utpres p {
  font-size:1.2rem;
    color:$midnight;
}
#presChair p:nth-child(odd),#utpres p:nth-child(odd){
  font-weight:$font-black;
  margin-top:15px;
}
div.modal-header button.close {
  border-color:$gold;
  border-style:solid;
  border-width:3px;
  text-shadow:none;
  padding: .5rem 1.5rem;
  margin:.25rem 0;
  opacity:1;
}
img[alt="Mark Leutke"],img[alt="Brenda S. Lee"],img[alt="Gregory Postel"]{
  max-width:25%;
  height:auto;
}

//your Gifts
#yourGifts section {
  background-color:$azure;
}
#yourGifts h4 {
  margin:0;
  font-size: 48px;
  text-transform: uppercase;
  margin-bottom: 60px;
}
#yourGifts div.modal-body section:nth-child(1) {
 padding:40px 60px;
}
#yourGifts div.modal-body section:nth-child(1) p {
    margin: 20px 0;
    font-size: 1.5rem;
    line-height: 2rem;
    color: $midnight;
}
#yourGifts div.modal-body section:nth-child(1) h5 {
  color:white;
  font-size:1.75rem;
}
#yourGifts div.modal-body section:nth-child(1) span {
  color:white;
  font-weight:$font-black;
}
#yourGifts div.modal-body section button  {
  background-color: $gold;
  font-size: 2rem;
  color:$midnight;
  font-weight:normal;
}
// financials section styles
#financials {
  width:100vw;
  height:100vh;
  position:fixed;
  left:100%;
  top:0;
  background-color:white;
  overflow-y: auto;
  padding:0;
}
.finHeader {
  background-color:$medium;
}
#financials h2 {
  color:white;
  font-size:3rem;
  margin:1rem 0 3rem 0;
}
#financials h2 span {
  color:$gold;
}
#financials p {
  color:white;
    font-size:1.2rem;
    margin:1rem 0;
}
#financials button {
    border-color: #FFD200;
    border-style: solid;
    border-width: 3px;
    text-shadow: none;
    color:$midnight;
    padding: .5rem 1.5rem;
    margin: .5rem 0;
    opacity:1;
}
#finTotal p span:nth-child(2) {
  color:$gold;
}
.nav-tabs {
    border: none;
}
.nav-tabs .nav-link {
    border:none;
    margin-right:.5rem;
    background-color:$sky;
    border-radius: 0;
    color:$midnight;
    font-size:1.75rem;
    text-align: center;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: $midnight;
    background-color: #fff;
    border:none;
}
p#legal {
  color:$midnight;
  font-size:.8rem;
  line-height: 1rem;
  margin:inherit;
  padding:1rem;
}
.tab-pane a {
  color:$medium;
  text-decoration: none;
  padding:.5rem 0;
  font-size:1.2rem;
}
.tab-pane div {
  padding:2rem 1rem;
}
#myTab {
  margin-top:10px;
}
//stories
#stories a {
  color:$midnight;
}
#stories div.container-fluid {
  min-height:450px;
  border-bottom:1rem solid white;
}
#stories .container h3 {
  background-color:$midnight;
  min-height:100px;
  width:34.375rem;
  margin-bottom:0;
}
#stories .container h3 span {
  color:white;
  font-size:3rem;
  font-weight:normal;
}
#stories .container h3 span:nth-child(2) {
    font-size: 1rem;
    padding:0 0 10px 2rem;
}

#stories .container button {
  color:white;
  text-align:left;
  font-size:1.3rem;
  line-height:1.5rem;
  outline:none;
  border:0;
  padding-bottom: .75rem;
  max-width: 75%;
}
#stories .container p {
  margin:20px 0;
  line-height:1.5rem;
  font-size:1.2rem;
  color:$midnight;
}
.material-icons {
  cursor: pointer;
}
div.container.call-out {
  background-color: $sky;
  min-height:initial !important;
  padding:5px 0;
  font-size: 1.2rem;
}
div.container.call-out+div {
  padding-bottom:4rem;
}
section.container-fluid {
  padding-left:0;
  padding-right:0;
}
.collapse {
  padding-bottom:3rem;
}
.container-fluid.storyOne {
  background-image:url(../images/student-success.jpg);
  background-size:cover;
  background-position:center;
  transition:all .5s;
}
.container-fluid.storyTwo {
  background-image:url(../images/rtr-fund.jpg);
  background-size:cover;
  transition:all .5s;
}
.container-fluid.storyThree {
  background-image:url(../images/tech-graduate.jpg);
  background-size:cover;
    transition:all .5s;
}
.container-fluid.storyFour {
  background-image:url(../images/research-growth.jpg);
  background-size:cover;
background-position: center;
    transition:all .5s;
}
.container-fluid.storyFive {
  background-image:url(../images/emir-moore.jpg);
  background-size:cover;
  background-position:center;
    transition:all .5s;
}
.container-fluid.storySix {
  background-image:url(../images/athletics-gpa.jpg);
  background-size:cover;
  background-position:center;
    transition:all .5s;
}
.container-fluid.storySeven{
  background-image:url(../images/ut-pharmacy.jpg);
  background-size:cover;
  background-position:center;
    transition:all .5s;
}
button.navbar-toggler {
  outline:none;
  border:0;
}
.navbar-toggler-icon img {
  width:80%;
  height:auto;
  margin-top:1rem;
}
.tab-content img {
  max-width:87%;
}
.btn {
  font-size: 1.5rem;
}
//Extra small devices
@media (max-width: 575.98px) {
  #title img {
    width:200px;
}
#title {
  margin-top: 12rem;
  padding-left:2rem;
}
.btn {
    font-size: 1.2rem;
}
.utlogo {
    width: 68%;
}
.navbar-brand {
  width:55%;
}
#presltr h4, #utpresltr h4 {
    font-size: 2rem;
  }
#presChair, #utpres  {
@include flex(100%);
    max-width: 100%;
  }
  div.modal-body .col-3 {
    @include flex(50%);
    max-width:50%;
  }
  img[alt="Mark Leutke"], img[alt="Brenda S. Lee"], img[alt="Gregory Postel"] {
    max-width: 70%;
    height: auto;
}
#financials h2 {
      margin: 1rem 0 0 0;
      font-size:200%;
}
#financials button {
    margin: .5rem;
}
h1 {
  font-size:130%;
}
footer nav {
  line-height:1.6rem;
}
main section:nth-child(1) {
  height:60vh;
}
main section:nth-child(2) div div:nth-child(1) a {
    font-size: 1.5rem;
}
main section:nth-child(2) div div:nth-child(2) p {
  font-size:1.2rem;
  line-height: 2rem;
}
  main section:nth-child(2) div div:nth-child(1),main section:nth-child(2) div div:nth-child(2),main section.container div.row div:nth-child(3) {
      max-width: 80%;
      margin: 0 auto 30px;
  }
  main section:nth-child(2) {
    padding-top: 50px;
}
#yip div {
    max-width: 100%;
}
.yipDesc {
  flex-direction: column;
}

#photo7 {
    background-position: center;
}
#photo8 {
    background-position:center;
}
.container-fluid.storyTwo, .container-fluid.storyThree, .container-fluid.storyFive {
    background-position: center right;
}
.container-fluid.storyTwo, .container-fluid.storyThree, .container-fluid.storyFive {
    background-position: center right;
}
 .container-fluid.storyFive {
    background-position-x: -670px;
}
.container-fluid.storyFour {
background-position: -450px;
}

.container-fluid.storySeven {
    background-position: -250px center;
}
.container-fluid.storySix {
    background-position: -190px;
}
footer h3 {
  margin:2rem 0;
}
footer {
  text-align: center;
  padding:2.5rem 4rem;
}
#links {
  display: none;
}
#linksMobile a {
  color: $gold;
      text-align: center;
      margin-top: 20px;
      display: block;
      padding-left: 0;
}
#mobileUT {
  max-width:50%;
  height:auto;
  display:block;
  margin:2rem auto 0;
}
div.finHeader div.col-5 {
  max-width:none;
  flex:1;
}
#financials p {
    margin:0;
}
#financials .nav {
  @include flex-wrap(nowrap);
  @include flex-direction(column);
}
#finTotal {
  max-width: none;
  flex: 1;
  margin-top:1.2rem;
}
#finTotal p {
   margin: 1rem 0;
}
.nav-tabs .nav-link {
    font-size: 120%;
    border-bottom:2px solid white;
}
#myTabContent .col-4 {
  flex: none;
    max-width: none;
}
.tab-pane div {
    padding: .75rem;
}
.carousel-item img {
  width:100% !important;
}
.tab-content img {
    max-width: 100%;
}
div.modal-body section:nth-child(2) {
    padding: 40px 15px;
}
 }


// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {

  main section:nth-child(2) div div:nth-child(1),main section:nth-child(2) div div:nth-child(2),main section.container div.row div:nth-child(3) {
      max-width: 80%;
      margin: 0 auto 30px;
  }
  h1 {
    font-size:2rem;
  }
  .container-fluid.storyTwo {
        background-position: center -90px;
  }
  #links {
    display: none;
  }
  #title img {
    width:300px;
    height: auto;
}
.utlogo {
    width: 85%;
}
.col-sm-3 {
    @include flex(80%);
    max-width: 80%;
}
#mobileUT {
    max-width: 50%;
    height: auto;
    display: block;
    margin: 2rem auto 0;
}
#linksMobile a {
    color: #FFD200;
    text-align: center;
    margin-top: 20px;
    display: block;
    padding-left: 0;
}
.container-fluid.storyTwo {
    background-position: center;
}
footer img {
  display:block;
  margin:0 auto;
}
footer h3 {
    margin-top: 1rem;
}
footer {
    text-align: center;
}
footer .col-sm-3 {
  @include flex(100%);
    max-width: 100%;
}
footer .col-sm-9 {
    @include flex(100%);
    max-width: 100%;
}
div.modal-body .col-3 {
    @include flex(50%);
    max-width: 50%;
}

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  main section:nth-child(2) div div:nth-child(1),main section:nth-child(2) div div:nth-child(2),main section.container div.row div:nth-child(3) {
      max-width: initial;
      margin: 0 0 30px;
  }
  .utlogo {
      width: 100%;
  }
  main section:nth-child(2) {
    min-height: 440px;
    padding-top: 70px;
}
main section:nth-child(2) div div:nth-child(1) {
    margin-right: 30px;
}
main section:nth-child(2) div div:nth-child(2) {
    margin-right: 40px;
}
.col-sm-3 {
  @include flex(30%);
  max-width: 30%;
}
.carousel-caption {
    right:0;
    left:0;
     max-width:none;

}

 }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  div.modal-body .col-3 {
    @include flex(25%);
       max-width:none;
  }
  h1 {
    font-size:2.2rem;
  }
  #title img {
    width: 330px;
    height: auto;
  }
  div.container.call-out {
    width: 100%;
      max-width: none;
  }
  main section:nth-child(2) {
    padding-top: 100px;
}
main section:nth-child(2) div div:nth-child(1), main section:nth-child(2) div div:nth-child(2), main section.container div.row div:nth-child(3) {
    max-width: 30%;
}
.col-sm-3 {
    max-width: 40%;
}
footer .col-sm-3 {
  @include flex(25%);
    max-width: 25%;
}
footer .col-sm-9 {
  @include flex(75%);
    max-width: 75%;
    text-align: left;
}
.carousel-caption {
    right: 30%;
    left: 30%;
    max-width: 800px;
}
 }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

.navbar-expand-xl .navbar-toggler {
    display: none;
}

#links {
  display:block;
}
#linksMobile {
  display:none;
}
  .container {

    max-width: 1140px;

}
  .container-fluid.storySix {
    background-position:center;
  }
  .container-fluid.storyThree {
    background-position:center center;
  }
  main section:nth-child(2) div div:nth-child(1), main section:nth-child(2) div div:nth-child(2), main section.container div.row div:nth-child(3) {
      max-width: 30%;
  }
  .col-sm-3 {
    @include flex(30%);
    max-width: 30%;
}
.container-fluid.storyTwo {
    background-position: center -90px;
}


#title img {
  width: 30%;
  height: auto;
}
 }
