/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;900&display=swap");
/* line 5, ../../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/*base styles*/
/* line 8, ../sass/screen.scss */
html {
  scroll-behavior: smooth;
}

/* line 11, ../sass/screen.scss */
body {
  font-family: "Source Sans Pro", sans-serif;
  background-color: white;
  width: 100vw;
  height: 100vh;
  line-height: 1.4rem;
}

/* line 19, ../sass/screen.scss */
h1 {
  font-size: 2.25rem;
  text-transform: uppercase;
  margin: 1.5% 0;
  text-align: left;
}

/* line 25, ../sass/screen.scss */
h1 span {
  color: #FFD200;
  font-weight: 900;
}

/* line 29, ../sass/screen.scss */
h2 {
  font-size: 40px;
  color: #003E7E;
  font-weight: 900;
  text-transform: uppercase;
  margin: 50px 0 20px;
  line-height: 2rem;
}

/* line 37, ../sass/screen.scss */
h3 {
  color: #003E7E;
  font-size: 40px;
  line-height: 2rem;
  margin-bottom: 1rem;
}

/* line 43, ../sass/screen.scss */
h4 {
  color: white;
  font-size: 1.6rem;
  margin: 20px 0 0;
  font-weight: 900;
  line-height: 2rem;
}

/* line 50, ../sass/screen.scss */
strong {
  font-weight: 900;
}

/* line 53, ../sass/screen.scss */
em {
  font-style: italic;
}

/* line 56, ../sass/screen.scss */
button.btn:focus {
  outline: 0 !important;
  box-shadow: none;
}

/* line 60, ../sass/screen.scss */
button[id='finance'] {
  margin-top: 1rem;
}

/* line 63, ../sass/screen.scss */
button.btn-lg.btn-outline-primary {
  color: #003E7E;
  border-style: solid;
}

/* line 67, ../sass/screen.scss */
button.btn-lg.btn-outline-primary:hover {
  color: white;
}

/* line 70, ../sass/screen.scss */
button.btn-primary {
  background-color: #3BB2F1;
  border-color: #3BB2F1;
}

/* line 74, ../sass/screen.scss */
button.btn-outline-primary {
  color: #FFD200;
  border-color: #3BB2F1;
  background-color: transparent;
}

/* line 79, ../sass/screen.scss */
button.btn-primary:hover, button.btn-outline-primary:hover {
  background-color: #003E7E;
  border-color: #003E7E;
}

/* line 83, ../sass/screen.scss */
.navbar {
  padding: .5rem 0;
}

/* line 86, ../sass/screen.scss */
button.navbar-toggler span {
  color: white;
  font-size: 2.2rem;
}

/* line 90, ../sass/screen.scss */
.btn-ltr {
  font-size: 1rem;
  text-align: left;
  margin: .5rem 0;
}

/* line 95, ../sass/screen.scss */
.utlogo {
  width: 100%;
}

/* line 98, ../sass/screen.scss */
.navbar-brand a {
  display: inline-block;
  min-width: 300px;
}

/* line 103, ../sass/screen.scss */
#title {
  margin-top: 8rem;
}

/* line 107, ../sass/screen.scss */
main.container-fluid {
  padding-left: 0;
  padding-right: 0;
  width: 100vw;
}

/* line 112, ../sass/screen.scss */
main section:nth-child(1) {
  min-height: 640px;
  background-image: url(../images/main_bkg.jpg);
  background-position: center;
  background-size: cover;
  color: white;
  padding-top: 1.8rem;
}

/* line 120, ../sass/screen.scss */
main section:nth-child(2) {
  min-height: 440px;
  padding-top: 100px;
}

/* line 124, ../sass/screen.scss */
main a {
  text-decoration: none;
  color: white;
}

/* line 128, ../sass/screen.scss */
main nav.navbar a {
  font-size: 1.3rem;
  padding-left: 20px;
}

/* line 132, ../sass/screen.scss */
main a:hover {
  color: #FFD200;
  text-decoration: none;
}

/* line 136, ../sass/screen.scss */
#links {
  text-align: right;
  padding-right: 1.8rem;
}

/* line 140, ../sass/screen.scss */
#links a {
  color: #FFD200;
}

/* line 144, ../sass/screen.scss */
main {
  height: 100vh;
  width: 100vw;
  position: absolute;
}

/* line 149, ../sass/screen.scss */
main section:nth-child(2) div div:nth-child(1) {
  border-top: #003E7E 3px solid;
  -moz-box-shadow: #737571 1px 0px 3px;
  -webkit-box-shadow: #737571 1px 0px 3px;
  box-shadow: #737571 1px 0px 3px;
  padding-top: 20px;
  margin-right: 30px;
  min-height: 273px;
}

/* line 156, ../sass/screen.scss */
main section:nth-child(2) div div:nth-child(1) a {
  text-decoration: none;
  color: #737571;
  margin: 20px 0;
  display: block;
}

/* line 162, ../sass/screen.scss */
main section:nth-child(2) div div:nth-child(2) {
  border-top: #FFD200 3px solid;
  -moz-box-shadow: #737571 1px 0px 3px;
  -webkit-box-shadow: #737571 1px 0px 3px;
  box-shadow: #737571 1px 0px 3px;
  padding-top: 20px;
  margin-right: 40px;
  min-height: 273px;
}

/* line 169, ../sass/screen.scss */
main section:nth-child(2) div div:nth-child(2) a {
  color: #003E7E;
}

/* line 172, ../sass/screen.scss */
main section:nth-child(3) div.container {
  color: #003E7E;
  font-size: 22px;
  line-height: 36px;
  padding: 40px 0 60px;
}

/* line 178, ../sass/screen.scss */
main section.container div.row div:nth-child(3) h3 {
  margin-bottom: 20px;
}

/* line 181, ../sass/screen.scss */
main section.container div.row div:nth-child(3) {
  padding: 20px;
  color: #737571;
  font-size: 20px;
}

/* line 186, ../sass/screen.scss */
#about ul {
  list-style-type: disc;
  margin-left: 1.5rem;
}

/* line 190, ../sass/screen.scss */
#about h4:nth-child(2) {
  font-weight: normal;
  color: #003E7E;
}

/* line 195, ../sass/screen.scss */
.carousel-inner {
  width: 100%;
  max-height: 700px !important;
}

/* line 199, ../sass/screen.scss */
.carousel-caption {
  width: 20%;
  top: 15%;
  bottom: auto;
  left: auto;
}

/* line 205, ../sass/screen.scss */
.carousel-item {
  background-color: #3BB2F1;
}

/* line 208, ../sass/screen.scss */
.carousel .carousel-item {
  height: 700px;
}

/* line 212, ../sass/screen.scss */
.carousel-item img {
  position: absolute;
  object-fit: cover;
  top: 0;
  left: 0;
  min-height: 700px;
}

/* line 219, ../sass/screen.scss */
.azure {
  background-color: #BDBBB5;
  padding-top: 2rem;
  color: #003E7E;
  border-top: 6px solid white;
}

/* line 225, ../sass/screen.scss */
section#yip.container-fluid {
  padding-right: 0;
}

/* line 228, ../sass/screen.scss */
#yip {
  padding-top: 1.5rem;
  margin: 0;
}

/* line 232, ../sass/screen.scss */
#yip div {
  border-top: 1.5px solid white;
  border-bottom: 1.5px solid white;
  box-sizing: border-box;
  box-shadow: none;
  margin: 0;
}

/* line 239, ../sass/screen.scss */
#yip p {
  color: #003E7E;
  font-size: 1rem;
}

/* line 243, ../sass/screen.scss */
.carousel-caption {
  background-color: rgba(255, 255, 255, 0.2);
  font-size: 1.3rem;
  line-height: 1.6rem;
  padding: 1rem;
  color: #003E7E;
  border-top: 1.5px solid white;
  border-bottom: 1.5px solid white;
}

/* line 252, ../sass/screen.scss */
#yip p > em {
  color: #003E7E;
  margin-top: 10px;
  font-style: normal;
}

/* line 257, ../sass/screen.scss */
#yip .yipDesc > p {
  background-color: white;
}

/* line 260, ../sass/screen.scss */
.yipDesc {
  margin: 0 auto 30px !important;
  min-height: inherit !important;
  border: none !important;
  padding: 0 1rem !important;
}

/* line 266, ../sass/screen.scss */
.yipDesc h3 {
  font-weight: 900;
  text-transform: uppercase;
}

/* line 270, ../sass/screen.scss */
div.yipDesc p {
  font-size: 1.2rem;
}

/* line 273, ../sass/screen.scss */
#yip h3 {
  font-weight: 900;
  text-transform: uppercase;
}

/* line 277, ../sass/screen.scss */
.yipBorder {
  border-bottom: 3px solid white !important;
}

/* line 282, ../sass/screen.scss */
footer {
  background-color: #FFD200;
  color: #003E7E;
  padding: 2.5rem 0;
}

/* line 287, ../sass/screen.scss */
footer h4 {
  color: #003E7E;
}

/* line 290, ../sass/screen.scss */
footer a {
  text-decoration: none;
  color: #003E7E;
}

/* line 294, ../sass/screen.scss */
footer a:hover {
  color: #737571;
}

/* line 297, ../sass/screen.scss */
#social img {
  max-width: 3%;
  height: auto;
  vertical-align: middle;
  display: inline;
}

/* line 303, ../sass/screen.scss */
a#social {
  display: inline;
}

/* line 307, ../sass/screen.scss */
#presltr, #yourGifts {
  background-color: rgba(255, 255, 255, 0.2);
}

/* line 310, ../sass/screen.scss */
.modal-header {
  background-color: #3BB2F1;
  border: none;
}

/* line 314, ../sass/screen.scss */
#presltr div section:nth-child(1) button {
  border: 1px #FFD200 solid;
  background-color: transparent;
  font-size: 24px;
  padding: 5px 20px;
}

/* line 320, ../sass/screen.scss */
.ltrTitle {
  margin: 0 !important;
}

/* line 323, ../sass/screen.scss */
div.modal-body {
  padding: 0;
}

/* line 326, ../sass/screen.scss */
div.modal-body section:nth-child(1) {
  background-color: #FFD200;
  min-height: auto;
}

/* line 330, ../sass/screen.scss */
div.modal-body section:nth-child(2) {
  padding: 40px 60px;
}

/* line 333, ../sass/screen.scss */
div.modal-body section:nth-child(2) p {
  margin: 20px 0;
  font-size: 1.5rem;
  line-height: 2rem;
  color: #003E7E;
}

/* line 339, ../sass/screen.scss */
#presltr h4, #utpresltr h4 {
  color: #003E7E;
  font-size: 48px;
  text-transform: uppercase;
  margin-bottom: 60px;
  line-height: 2.4rem;
}

/* line 346, ../sass/screen.scss */
#presltr img, #utpresltr img {
  display: block;
}

/* line 349, ../sass/screen.scss */
#presChair, #utpres {
  padding: 1.5rem;
}

/* line 352, ../sass/screen.scss */
#presChair p, #utpres p {
  font-size: 1.2rem;
  color: #003E7E;
}

/* line 356, ../sass/screen.scss */
#presChair p:nth-child(odd), #utpres p:nth-child(odd) {
  font-weight: 900;
  margin-top: 15px;
}

/* line 360, ../sass/screen.scss */
div.modal-header button.close {
  border-color: #FFD200;
  border-style: solid;
  border-width: 3px;
  text-shadow: none;
  padding: .5rem 1.5rem;
  margin: .25rem 0;
  opacity: 1;
}

/* line 369, ../sass/screen.scss */
img[alt="Mark Leutke"], img[alt="Brenda S. Lee"], img[alt="Gregory Postel"] {
  max-width: 25%;
  height: auto;
}

/* line 375, ../sass/screen.scss */
#yourGifts section {
  background-color: #3BB2F1;
}

/* line 378, ../sass/screen.scss */
#yourGifts h4 {
  margin: 0;
  font-size: 48px;
  text-transform: uppercase;
  margin-bottom: 60px;
}

/* line 384, ../sass/screen.scss */
#yourGifts div.modal-body section:nth-child(1) {
  padding: 40px 60px;
}

/* line 387, ../sass/screen.scss */
#yourGifts div.modal-body section:nth-child(1) p {
  margin: 20px 0;
  font-size: 1.5rem;
  line-height: 2rem;
  color: #003E7E;
}

/* line 393, ../sass/screen.scss */
#yourGifts div.modal-body section:nth-child(1) h5 {
  color: white;
  font-size: 1.75rem;
}

/* line 397, ../sass/screen.scss */
#yourGifts div.modal-body section:nth-child(1) span {
  color: white;
  font-weight: 900;
}

/* line 401, ../sass/screen.scss */
#yourGifts div.modal-body section button {
  background-color: #FFD200;
  font-size: 2rem;
  color: #003E7E;
  font-weight: normal;
}

/* line 408, ../sass/screen.scss */
#financials {
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 100%;
  top: 0;
  background-color: white;
  overflow-y: auto;
  padding: 0;
}

/* line 418, ../sass/screen.scss */
.finHeader {
  background-color: #737571;
}

/* line 421, ../sass/screen.scss */
#financials h2 {
  color: white;
  font-size: 3rem;
  margin: 1rem 0 3rem 0;
}

/* line 426, ../sass/screen.scss */
#financials h2 span {
  color: #FFD200;
}

/* line 429, ../sass/screen.scss */
#financials p {
  color: white;
  font-size: 1.2rem;
  margin: 1rem 0;
}

/* line 434, ../sass/screen.scss */
#financials button {
  border-color: #FFD200;
  border-style: solid;
  border-width: 3px;
  text-shadow: none;
  color: #003E7E;
  padding: .5rem 1.5rem;
  margin: .5rem 0;
  opacity: 1;
}

/* line 444, ../sass/screen.scss */
#finTotal p span:nth-child(2) {
  color: #FFD200;
}

/* line 447, ../sass/screen.scss */
.nav-tabs .nav-link {
  border: none;
  background-color: #3BB2F1;
  border-radius: 0;
  color: white;
  font-size: 1.75rem;
  text-align: center;
}

/* line 455, ../sass/screen.scss */
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  color: #003E7E;
  background-color: #fff;
  border: none;
}

/* line 460, ../sass/screen.scss */
p#legal {
  color: #003E7E;
  font-size: .8rem;
  line-height: 1rem;
  margin: inherit;
  padding: 1rem;
}

/* line 467, ../sass/screen.scss */
.tab-pane a {
  color: #737571;
  text-decoration: none;
  padding: .5rem 0;
  font-size: 1.2rem;
}

/* line 473, ../sass/screen.scss */
.tab-pane div {
  padding: 2rem 1rem;
}

/* line 476, ../sass/screen.scss */
#myTab {
  margin-top: 10px;
}

/* line 480, ../sass/screen.scss */
#stories a {
  color: #003E7E;
}

/* line 483, ../sass/screen.scss */
#stories div.container-fluid {
  min-height: 450px;
  border-bottom: 1.5rem solid white;
}

/* line 487, ../sass/screen.scss */
#stories .container h3 {
  background-color: #003E7E;
  min-height: 100px;
  width: 34.375rem;
  margin-bottom: 0;
}

/* line 493, ../sass/screen.scss */
#stories .container h3 span {
  color: white;
  font-size: 3rem;
  font-weight: normal;
}

/* line 498, ../sass/screen.scss */
#stories .container button {
  color: white;
  text-align: left;
  font-size: 1.3rem;
  line-height: 1.5rem;
  outline: none;
  border: 0;
  padding-bottom: .75rem;
}

/* line 507, ../sass/screen.scss */
#stories .container p {
  margin: 20px 0;
  line-height: 1.5rem;
  font-size: 1.2rem;
  color: #003E7E;
}

/* line 513, ../sass/screen.scss */
div.container.call-out {
  background-color: #3BB2F1;
  min-height: initial !important;
  padding: 5px 0;
  font-size: 1.2rem;
}

/* line 519, ../sass/screen.scss */
div.container.call-out + div {
  padding-bottom: 4rem;
}

/* line 522, ../sass/screen.scss */
section.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

/* line 526, ../sass/screen.scss */
.collapse {
  padding-bottom: 3rem;
}

/* line 529, ../sass/screen.scss */
.container-fluid.storyOne {
  background-image: url(../images/student-success.jpg);
  background-size: cover;
  background-position: center;
  transition: all .5s;
}

/* line 535, ../sass/screen.scss */
.container-fluid.storyTwo {
  background-image: url(../images/rtr-fund.jpg);
  background-size: cover;
  transition: all .5s;
}

/* line 540, ../sass/screen.scss */
.container-fluid.storyThree {
  background-image: url(../images/tech-graduate.jpg);
  background-size: cover;
  transition: all .5s;
}

/* line 545, ../sass/screen.scss */
.container-fluid.storyFour {
  background-image: url(../images/research-growth.jpg);
  background-size: cover;
  background-position: center;
  transition: all .5s;
}

/* line 551, ../sass/screen.scss */
.container-fluid.storyFive {
  background-image: url(../images/emir-moore.jpg);
  background-size: cover;
  background-position: center;
  transition: all .5s;
}

/* line 557, ../sass/screen.scss */
.container-fluid.storySix {
  background-image: url(../images/athletics-gpa.jpg);
  background-size: cover;
  background-position: center;
  transition: all .5s;
}

/* line 563, ../sass/screen.scss */
.container-fluid.storySeven {
  background-image: url(../images/ut-pharmacy.jpg);
  background-size: cover;
  background-position: center;
  transition: all .5s;
}

/* line 569, ../sass/screen.scss */
button.navbar-toggler {
  outline: none;
  border: 0;
}

/* line 573, ../sass/screen.scss */
.navbar-toggler-icon img {
  width: 80%;
  height: auto;
  margin-top: 1rem;
}

/* line 578, ../sass/screen.scss */
.tab-content img {
  max-width: 87%;
}

/* line 581, ../sass/screen.scss */
.btn {
  font-size: 1.5rem;
}

@media (max-width: 575.98px) {
  /* line 586, ../sass/screen.scss */
  #title img {
    width: 200px;
  }

  /* line 589, ../sass/screen.scss */
  #title {
    margin-top: 12rem;
    padding-left: 2rem;
  }

  /* line 593, ../sass/screen.scss */
  .btn {
    font-size: 1.2rem;
  }

  /* line 596, ../sass/screen.scss */
  .utlogo {
    width: 68%;
  }

  /* line 599, ../sass/screen.scss */
  .navbar-brand {
    width: 55%;
  }

  /* line 602, ../sass/screen.scss */
  #presltr h4, #utpresltr h4 {
    font-size: 2rem;
  }

  /* line 605, ../sass/screen.scss */
  #presChair, #utpres {
    -webkit-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }

  /* line 609, ../sass/screen.scss */
  div.modal-body .col-3 {
    -webkit-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }

  /* line 613, ../sass/screen.scss */
  img[alt="Mark Leutke"], img[alt="Brenda S. Lee"], img[alt="Gregory Postel"] {
    max-width: 70%;
    height: auto;
  }

  /* line 617, ../sass/screen.scss */
  #financials h2 {
    margin: 1rem 0 0 0;
  }

  /* line 620, ../sass/screen.scss */
  #financials button {
    margin: .5rem;
  }

  /* line 623, ../sass/screen.scss */
  h1 {
    font-size: 130%;
  }

  /* line 626, ../sass/screen.scss */
  footer nav {
    line-height: 1.6rem;
  }

  /* line 629, ../sass/screen.scss */
  main section:nth-child(1) {
    height: 60vh;
  }

  /* line 632, ../sass/screen.scss */
  main section:nth-child(2) div div:nth-child(1) a {
    font-size: 1.5rem;
  }

  /* line 635, ../sass/screen.scss */
  main section:nth-child(2) div div:nth-child(2) p {
    font-size: 1.2rem;
    line-height: 2rem;
  }

  /* line 639, ../sass/screen.scss */
  main section:nth-child(2) div div:nth-child(1), main section:nth-child(2) div div:nth-child(2), main section.container div.row div:nth-child(3) {
    max-width: 80%;
    margin: 0 auto 30px;
  }

  /* line 643, ../sass/screen.scss */
  main section:nth-child(2) {
    padding-top: 50px;
  }

  /* line 646, ../sass/screen.scss */
  #yip div {
    max-width: 100%;
  }

  /* line 649, ../sass/screen.scss */
  .yipDesc {
    flex-direction: column;
  }

  /* line 653, ../sass/screen.scss */
  #photo7 {
    background-position: center;
  }

  /* line 656, ../sass/screen.scss */
  #photo8 {
    background-position: center;
  }

  /* line 659, ../sass/screen.scss */
  .container-fluid.storyTwo, .container-fluid.storyThree, .container-fluid.storyFive {
    background-position: center right;
  }

  /* line 662, ../sass/screen.scss */
  .container-fluid.storyTwo, .container-fluid.storyThree, .container-fluid.storyFive {
    background-position: center right;
  }

  /* line 665, ../sass/screen.scss */
  .container-fluid.storyFive {
    background-position-x: -670px;
  }

  /* line 668, ../sass/screen.scss */
  .container-fluid.storyFour {
    background-position: -450px;
  }

  /* line 672, ../sass/screen.scss */
  .container-fluid.storySeven {
    background-position: -250px center;
  }

  /* line 675, ../sass/screen.scss */
  .container-fluid.storySix {
    background-position: -190px;
  }

  /* line 678, ../sass/screen.scss */
  footer h3 {
    margin: 2rem 0;
  }

  /* line 681, ../sass/screen.scss */
  footer {
    text-align: center;
    padding: 2.5rem 4rem;
  }

  /* line 685, ../sass/screen.scss */
  #links {
    display: none;
  }

  /* line 688, ../sass/screen.scss */
  #linksMobile a {
    color: #FFD200;
    text-align: center;
    margin-top: 20px;
    display: block;
    padding-left: 0;
  }

  /* line 695, ../sass/screen.scss */
  #mobileUT {
    max-width: 50%;
    height: auto;
    display: block;
    margin: 2rem auto 0;
  }

  /* line 701, ../sass/screen.scss */
  div.finHeader div.col-5 {
    max-width: none;
    flex: 1;
  }

  /* line 705, ../sass/screen.scss */
  #financials p {
    margin-bottom: 1rem;
  }

  /* line 708, ../sass/screen.scss */
  #financials .nav {
    flex-wrap: nowrap;
  }

  /* line 711, ../sass/screen.scss */
  #finTotal {
    max-width: none;
    flex: 1;
    margin-top: 1.2rem;
  }

  /* line 716, ../sass/screen.scss */
  #finTotal p {
    margin: 1rem 0;
  }

  /* line 719, ../sass/screen.scss */
  .nav-tabs .nav-link {
    font-size: 100%;
  }

  /* line 722, ../sass/screen.scss */
  #myTabContent .col-4 {
    flex: none;
    max-width: none;
  }

  /* line 726, ../sass/screen.scss */
  .carousel-item img {
    width: 100% !important;
  }

  /* line 729, ../sass/screen.scss */
  .tab-content img {
    max-width: 100%;
  }

  /* line 732, ../sass/screen.scss */
  div.modal-body section:nth-child(2) {
    padding: 40px 15px;
  }
}
@media (min-width: 576px) {
  /* line 741, ../sass/screen.scss */
  main section:nth-child(2) div div:nth-child(1), main section:nth-child(2) div div:nth-child(2), main section.container div.row div:nth-child(3) {
    max-width: 80%;
    margin: 0 auto 30px;
  }

  /* line 745, ../sass/screen.scss */
  h1 {
    font-size: 2rem;
  }

  /* line 748, ../sass/screen.scss */
  .container-fluid.storyTwo {
    background-position: center -90px;
  }

  /* line 751, ../sass/screen.scss */
  #links {
    display: none;
  }

  /* line 754, ../sass/screen.scss */
  #title img {
    width: 300px;
    height: auto;
  }

  /* line 758, ../sass/screen.scss */
  .utlogo {
    width: 85%;
  }

  /* line 761, ../sass/screen.scss */
  .col-sm-3 {
    -webkit-flex: 80%;
    flex: 80%;
    max-width: 80%;
  }

  /* line 765, ../sass/screen.scss */
  #mobileUT {
    max-width: 50%;
    height: auto;
    display: block;
    margin: 2rem auto 0;
  }

  /* line 771, ../sass/screen.scss */
  #linksMobile a {
    color: #FFD200;
    text-align: center;
    margin-top: 20px;
    display: block;
    padding-left: 0;
  }

  /* line 778, ../sass/screen.scss */
  .container-fluid.storyTwo {
    background-position: center;
  }

  /*.container {
    width:90%;
    max-width:90%;
    margin:0 auto;
  }*/
  /* line 786, ../sass/screen.scss */
  footer img {
    display: block;
    margin: 0 auto;
  }

  /* line 790, ../sass/screen.scss */
  footer h3 {
    margin-top: 1rem;
  }

  /* line 793, ../sass/screen.scss */
  footer {
    text-align: center;
  }

  /* line 796, ../sass/screen.scss */
  footer .col-sm-3 {
    -webkit-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }

  /* line 800, ../sass/screen.scss */
  footer .col-sm-9 {
    -webkit-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }

  /* line 804, ../sass/screen.scss */
  div.modal-body .col-3 {
    -webkit-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}
@media (min-width: 768px) {
  /* line 813, ../sass/screen.scss */
  main section:nth-child(2) div div:nth-child(1), main section:nth-child(2) div div:nth-child(2), main section.container div.row div:nth-child(3) {
    max-width: initial;
    margin: 0 0 30px;
  }

  /* line 817, ../sass/screen.scss */
  .utlogo {
    width: 100%;
  }

  /* line 820, ../sass/screen.scss */
  main section:nth-child(2) {
    min-height: 440px;
    padding-top: 70px;
  }

  /* line 824, ../sass/screen.scss */
  main section:nth-child(2) div div:nth-child(1) {
    margin-right: 30px;
  }

  /* line 827, ../sass/screen.scss */
  main section:nth-child(2) div div:nth-child(2) {
    margin-right: 40px;
  }

  /* line 830, ../sass/screen.scss */
  .col-sm-3 {
    -webkit-flex: 30%;
    flex: 30%;
    max-width: 30%;
  }
}
@media (min-width: 992px) {
  /* line 839, ../sass/screen.scss */
  div.modal-body .col-3 {
    -webkit-flex: 25%;
    flex: 25%;
    max-width: none;
  }

  /* line 843, ../sass/screen.scss */
  h1 {
    font-size: 2.2rem;
  }

  /* line 846, ../sass/screen.scss */
  #title img {
    width: 330px;
    height: auto;
  }

  /* line 850, ../sass/screen.scss */
  div.container.call-out {
    width: 100%;
    max-width: none;
  }

  /* line 854, ../sass/screen.scss */
  main section:nth-child(2) {
    padding-top: 100px;
  }

  /* line 857, ../sass/screen.scss */
  main section:nth-child(2) div div:nth-child(1), main section:nth-child(2) div div:nth-child(2), main section.container div.row div:nth-child(3) {
    max-width: 30%;
  }

  /* line 860, ../sass/screen.scss */
  .col-sm-3 {
    max-width: 40%;
  }

  /* line 863, ../sass/screen.scss */
  footer .col-sm-3 {
    -webkit-flex: 25%;
    flex: 25%;
    max-width: 25%;
  }

  /* line 867, ../sass/screen.scss */
  footer .col-sm-9 {
    -webkit-flex: 75%;
    flex: 75%;
    max-width: 75%;
    text-align: left;
  }
}
@media (min-width: 1200px) {
  /* line 877, ../sass/screen.scss */
  .navbar-expand-xl .navbar-toggler {
    display: none;
  }

  /* line 881, ../sass/screen.scss */
  #links {
    display: block;
  }

  /* line 884, ../sass/screen.scss */
  #linksMobile {
    display: none;
  }

  /* line 887, ../sass/screen.scss */
  .container {
    max-width: 1140px;
  }

  /* line 892, ../sass/screen.scss */
  .container-fluid.storySix {
    background-position: center;
  }

  /* line 895, ../sass/screen.scss */
  .container-fluid.storyThree {
    background-position: center -100px;
  }

  /* line 898, ../sass/screen.scss */
  main section:nth-child(2) div div:nth-child(1), main section:nth-child(2) div div:nth-child(2), main section.container div.row div:nth-child(3) {
    max-width: 30%;
  }

  /* line 901, ../sass/screen.scss */
  .col-sm-3 {
    -webkit-flex: 30%;
    flex: 30%;
    max-width: 30%;
  }

  /* line 905, ../sass/screen.scss */
  .container-fluid.storyTwo {
    background-position: center -90px;
  }

  /* line 910, ../sass/screen.scss */
  #title img {
    width: 30%;
    height: auto;
  }
}
