/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;900&display=swap");
/* line 5, ../../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/*base styles*/
/* line 8, ../sass/screen.scss */
html {
  scroll-behavior: smooth;
}

/* line 11, ../sass/screen.scss */
body {
  font-family: "Source Sans Pro", sans-serif;
  background-color: white;
  width: 100vw;
  height: 100vh;
  line-height: 1.4rem;
}

/* line 19, ../sass/screen.scss */
h1 {
  font-size: 2.25rem;
  text-transform: uppercase;
  margin: 1.5% 0;
  text-align: left;
}

/* line 25, ../sass/screen.scss */
h1 span {
  color: #FFD200;
  font-weight: 900;
}

/* line 29, ../sass/screen.scss */
h2 {
  font-size: 40px;
  color: #003E7E;
  font-weight: 900;
  text-transform: uppercase;
  margin: 50px 0 20px;
  line-height: 2rem;
}

/* line 37, ../sass/screen.scss */
h3 {
  color: #003E7E;
  font-size: 40px;
  line-height: 2rem;
  margin-bottom: 1rem;
}

/* line 43, ../sass/screen.scss */
h4 {
  color: white;
  font-size: 1.6rem;
  margin: 20px 0;
  font-weight: 900;
  line-height: 2rem;
}

/* line 50, ../sass/screen.scss */
strong {
  font-weight: 900;
}

/* line 53, ../sass/screen.scss */
em {
  font-style: italic;
}

/* line 56, ../sass/screen.scss */
button.btn:focus {
  outline: 0 !important;
  box-shadow: none;
}

/* line 60, ../sass/screen.scss */
button[id='finance'] {
  margin-top: 1rem;
}

/* line 63, ../sass/screen.scss */
button.btn-lg.btn-outline-primary {
  color: #003E7E;
  border-style: solid;
}

/* line 67, ../sass/screen.scss */
button.btn-lg.btn-outline-primary:hover {
  color: white;
}

/* line 70, ../sass/screen.scss */
button.btn-primary {
  background-color: #3BB2F1;
  border-color: #3BB2F1;
}

/* line 74, ../sass/screen.scss */
button.btn-outline-primary {
  color: #FFD200;
  border-color: #3BB2F1;
  background-color: transparent;
}

/* line 79, ../sass/screen.scss */
button.btn-primary:hover, button.btn-outline-primary:hover {
  background-color: #003E7E;
  border-color: #003E7E;
}

/* line 83, ../sass/screen.scss */
.navbar {
  padding: .5rem 0;
}

/* line 86, ../sass/screen.scss */
button.navbar-toggler span {
  color: white;
  font-size: 2.2rem;
}

/* line 90, ../sass/screen.scss */
.btn-ltr {
  font-size: 1rem;
  text-align: left;
  margin: .5rem 0;
}

/* line 95, ../sass/screen.scss */
.utlogo {
  width: 100%;
}

/* line 98, ../sass/screen.scss */
.navbar-brand a {
  display: inline-block;
  min-width: 300px;
}

/* line 103, ../sass/screen.scss */
#title {
  margin-top: 8rem;
}

/* line 106, ../sass/screen.scss */
#title img {
  width: 30%;
  height: auto;
}

/* line 110, ../sass/screen.scss */
main.container-fluid {
  padding-left: 0;
  padding-right: 0;
  width: 100vw;
}

/* line 115, ../sass/screen.scss */
main section:nth-child(1) {
  min-height: 640px;
  background-image: url(../images/main_bkg.jpg);
  background-position: center;
  background-size: cover;
  color: white;
  padding-top: 1.8rem;
}

/* line 123, ../sass/screen.scss */
main section:nth-child(2) {
  min-height: 440px;
  padding-top: 100px;
}

/* line 127, ../sass/screen.scss */
main a {
  text-decoration: none;
  color: white;
}

/* line 131, ../sass/screen.scss */
main nav.navbar a {
  font-size: 1.3rem;
  padding-left: 20px;
}

/* line 135, ../sass/screen.scss */
main a:hover {
  color: #FFD200;
  text-decoration: none;
}

/* line 139, ../sass/screen.scss */
#links {
  text-align: right;
  padding-right: 1.8rem;
}

/* line 143, ../sass/screen.scss */
#links a {
  color: #FFD200;
}

/* line 147, ../sass/screen.scss */
main {
  height: 100vh;
  width: 100vw;
  position: absolute;
}

/* line 152, ../sass/screen.scss */
main section:nth-child(2) div div:nth-child(1) {
  border-top: #003E7E 3px solid;
  -moz-box-shadow: #737571 1px 0px 3px;
  -webkit-box-shadow: #737571 1px 0px 3px;
  box-shadow: #737571 1px 0px 3px;
  padding-top: 20px;
  margin-right: 30px;
  min-height: 273px;
}

/* line 159, ../sass/screen.scss */
main section:nth-child(2) div div:nth-child(1) a {
  text-decoration: none;
  color: #737571;
  margin: 20px 0;
  display: block;
}

/* line 165, ../sass/screen.scss */
main section:nth-child(2) div div:nth-child(2) {
  border-top: #FFD200 3px solid;
  -moz-box-shadow: #737571 1px 0px 3px;
  -webkit-box-shadow: #737571 1px 0px 3px;
  box-shadow: #737571 1px 0px 3px;
  padding-top: 20px;
  margin-right: 40px;
  min-height: 273px;
}

/* line 172, ../sass/screen.scss */
main section:nth-child(2) div div:nth-child(2) a {
  color: #003E7E;
}

/* line 175, ../sass/screen.scss */
main section:nth-child(3) div.container {
  color: #003E7E;
  font-size: 22px;
  line-height: 36px;
  padding: 40px 0 60px;
}

/* line 181, ../sass/screen.scss */
main section.container div.row div:nth-child(3) h3 {
  margin-bottom: 20px;
}

/* line 184, ../sass/screen.scss */
main section.container div.row div:nth-child(3) {
  padding: 20px;
  color: #737571;
  font-size: 20px;
}

/* line 189, ../sass/screen.scss */
#about ul {
  list-style-type: disc;
  margin-left: 1.5rem;
}

/* line 193, ../sass/screen.scss */
#about h4:nth-child(2) {
  font-weight: normal;
  color: #003E7E;
}

/* line 198, ../sass/screen.scss */
.carousel-inner {
  width: 100%;
  max-height: 700px !important;
}

/* line 202, ../sass/screen.scss */
.carousel-caption {
  width: 20%;
  top: 15%;
  bottom: auto;
  left: auto;
}

/* line 208, ../sass/screen.scss */
.carousel-item {
  background-color: #3BB2F1;
}

/* line 211, ../sass/screen.scss */
.carousel .carousel-item {
  height: 700px;
}

/* line 215, ../sass/screen.scss */
.carousel-item img {
  position: absolute;
  object-fit: cover;
  top: 0;
  left: 0;
  min-height: 700px;
}

/* line 222, ../sass/screen.scss */
.azure {
  background-color: #BDBBB5;
  padding-top: 2rem;
  color: #003E7E;
  border-top: 6px solid white;
}

/* line 228, ../sass/screen.scss */
section#yip.container-fluid {
  padding-right: 0;
}

/* line 231, ../sass/screen.scss */
#yip {
  padding-top: 1.5rem;
  margin: 0;
}

/* line 236, ../sass/screen.scss */
#yip div {
  border-top: 1.5px solid white;
  border-bottom: 1.5px solid white;
  box-sizing: border-box;
  box-shadow: none;
  margin: 0;
}

/* line 243, ../sass/screen.scss */
#yip p {
  color: #003E7E;
  font-size: 1rem;
}

/* line 247, ../sass/screen.scss */
.carousel-caption {
  background-color: rgba(255, 255, 255, 0.2);
  font-size: 1.3rem;
  line-height: 1.6rem;
  padding: 1rem;
  color: #003E7E;
  border-top: 1.5px solid white;
  border-bottom: 1.5px solid white;
}

/* line 256, ../sass/screen.scss */
#yip p > em {
  color: #003E7E;
  margin-top: 10px;
  font-style: normal;
}

/* line 261, ../sass/screen.scss */
#yip .yipDesc > p {
  background-color: white;
}

/* line 264, ../sass/screen.scss */
.yipDesc {
  margin: 0 auto 30px !important;
  min-height: inherit !important;
  border: none !important;
  padding: 0 1rem !important;
}

/* line 270, ../sass/screen.scss */
.yipDesc h3 {
  font-weight: 900;
  text-transform: uppercase;
}

/* line 274, ../sass/screen.scss */
div.yipDesc p {
  font-size: 1.2rem;
}

/* line 277, ../sass/screen.scss */
#yip h3 {
  font-weight: 900;
  text-transform: uppercase;
}

/* line 281, ../sass/screen.scss */
.yipBorder {
  border-bottom: 3px solid white !important;
}

/* line 286, ../sass/screen.scss */
#photo5 {
  background-image: url(../images/yip/parade.jpg);
  background-size: cover;
  background-position: center;
  padding: 2rem 1rem;
}

/* line 292, ../sass/screen.scss */
#photo6 {
  background-image: url(../images/yip/fall.jpg);
  background-size: cover;
  background-position: bottom;
  padding: 2rem 1rem;
  min-height: 500px;
}

/* line 299, ../sass/screen.scss */
#photo7 {
  background-image: url(../images/yip/jazmine.jpg);
  background-size: cover;
  background-position: bottom;
  padding: 2rem 1rem;
}

/* line 306, ../sass/screen.scss */
#photo8 {
  background-image: url(../images/yip/cap_toss.jpg);
  background-size: cover;
  background-position: 0px -175px;
  padding: 2rem 1rem;
}

/* line 313, ../sass/screen.scss */
#photo9 {
  background-image: url(../images/yip/chalk.jpg);
  background-size: cover;
  background-position: bottom left;
  padding: 2rem 1rem;
  min-height: 400px;
}

/* line 320, ../sass/screen.scss */
#photo10 {
  background-image: url(../images/yip/awad.jpg);
  background-size: cover;
  background-position: bottom;
  padding: 2rem 1rem;
  min-height: 400px;
}

/* line 329, ../sass/screen.scss */
footer {
  background-color: #FFD200;
  color: #003E7E;
  padding: 2.5rem 0;
}

/* line 334, ../sass/screen.scss */
footer h4 {
  color: #003E7E;
}

/* line 337, ../sass/screen.scss */
footer a {
  text-decoration: none;
  color: #003E7E;
}

/* line 341, ../sass/screen.scss */
footer a:hover {
  color: #737571;
}

/* line 344, ../sass/screen.scss */
#social img {
  max-width: 3%;
  height: auto;
  vertical-align: middle;
  display: inline;
}

/* line 350, ../sass/screen.scss */
a#social {
  display: inline;
}

/* line 354, ../sass/screen.scss */
#presltr, #yourGifts {
  background-color: rgba(255, 255, 255, 0.2);
}

/* line 357, ../sass/screen.scss */
.modal-header {
  background-color: #3BB2F1;
  border: none;
}

/* line 361, ../sass/screen.scss */
#presltr div section:nth-child(1) button {
  border: 1px #FFD200 solid;
  background-color: transparent;
  font-size: 24px;
  padding: 5px 20px;
}

/* line 367, ../sass/screen.scss */
.ltrTitle {
  margin: 0 !important;
}

/* line 370, ../sass/screen.scss */
div.modal-body {
  padding: 0;
}

/* line 373, ../sass/screen.scss */
div.modal-body section:nth-child(1) {
  background-color: #FFD200;
  min-height: auto;
}

/* line 377, ../sass/screen.scss */
div.modal-body section:nth-child(2) {
  padding: 40px 60px;
}

/* line 380, ../sass/screen.scss */
div.modal-body section:nth-child(2) p {
  margin: 20px 0;
  font-size: 1.5rem;
  line-height: 2rem;
  color: #003E7E;
}

/* line 386, ../sass/screen.scss */
#presltr h4, #utpresltr h4 {
  color: #003E7E;
  font-size: 48px;
  text-transform: uppercase;
  margin-bottom: 60px;
  line-height: 2.4rem;
}

/* line 393, ../sass/screen.scss */
#presltr img, #utpresltr img {
  display: block;
}

/* line 396, ../sass/screen.scss */
#presChair, #utpres {
  padding: 1.5rem;
}

/* line 399, ../sass/screen.scss */
#presChair p, #utpres p {
  font-size: 1.2rem;
  color: #003E7E;
}

/* line 403, ../sass/screen.scss */
#presChair p:nth-child(odd), #utpres p:nth-child(odd) {
  font-weight: 900;
  margin-top: 15px;
}

/* line 407, ../sass/screen.scss */
div.modal-header button.close {
  border-color: #FFD200;
  border-style: solid;
  border-width: 3px;
  text-shadow: none;
  padding: .5rem 1.5rem;
  margin: .25rem 0;
  opacity: 1;
}

/* line 416, ../sass/screen.scss */
img[alt="Mark Leutke"], img[alt="Brenda S. Lee"], img[alt="Gregory Postel"] {
  max-width: 25%;
  height: auto;
}

/* line 422, ../sass/screen.scss */
#yourGifts section {
  background-color: #3BB2F1;
}

/* line 425, ../sass/screen.scss */
#yourGifts h4 {
  margin: 0;
  font-size: 48px;
  text-transform: uppercase;
  margin-bottom: 60px;
}

/* line 431, ../sass/screen.scss */
#yourGifts div.modal-body section:nth-child(1) {
  padding: 40px 60px;
}

/* line 434, ../sass/screen.scss */
#yourGifts div.modal-body section:nth-child(1) p {
  margin: 20px 0;
  font-size: 1.5rem;
  line-height: 2rem;
  color: #003E7E;
}

/* line 440, ../sass/screen.scss */
#yourGifts div.modal-body section:nth-child(1) h5 {
  color: white;
  font-size: 1.75rem;
}

/* line 444, ../sass/screen.scss */
#yourGifts div.modal-body section:nth-child(1) span {
  color: white;
  font-weight: 900;
}

/* line 448, ../sass/screen.scss */
#yourGifts div.modal-body section button {
  background-color: #FFD200;
  font-size: 2rem;
  color: #003E7E;
  font-weight: normal;
}

/* line 455, ../sass/screen.scss */
#financials {
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 100%;
  top: 0;
  background-color: white;
  overflow-y: auto;
  padding: 0;
}

/* line 465, ../sass/screen.scss */
.finHeader {
  background-color: #737571;
}

/* line 468, ../sass/screen.scss */
#financials h2 {
  color: white;
  font-size: 3rem;
  margin: 1rem 0 3rem 0;
}

/* line 473, ../sass/screen.scss */
#financials h2 span {
  color: #FFD200;
}

/* line 476, ../sass/screen.scss */
#financials p {
  color: white;
  font-size: 1.2rem;
  margin: 1rem 0;
}

/* line 481, ../sass/screen.scss */
#financials button {
  border-color: #FFD200;
  border-style: solid;
  border-width: 3px;
  text-shadow: none;
  color: #003E7E;
  padding: .5rem 1.5rem;
  margin: .5rem 0;
  opacity: 1;
}

/* line 491, ../sass/screen.scss */
#finTotal p span:nth-child(2) {
  color: #FFD200;
}

/* line 494, ../sass/screen.scss */
.nav-tabs .nav-link {
  border: none;
  background-color: #3BB2F1;
  border-radius: 0;
  color: white;
  font-size: 1.75rem;
  text-align: center;
}

/* line 502, ../sass/screen.scss */
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  color: #003E7E;
  background-color: #fff;
  border: none;
}

/* line 507, ../sass/screen.scss */
p#legal {
  color: #003E7E;
  font-size: .8rem;
  line-height: 1rem;
  margin: inherit;
}

/* line 513, ../sass/screen.scss */
.tab-pane a {
  color: #737571;
  text-decoration: none;
  padding: .5rem 0;
}

/* line 518, ../sass/screen.scss */
.tab-pane div {
  padding: 1rem;
}

/* line 521, ../sass/screen.scss */
#myTab {
  margin-top: 10px;
}

/* line 525, ../sass/screen.scss */
#stories a {
  color: #003E7E;
}

/* line 528, ../sass/screen.scss */
#stories div.container-fluid {
  min-height: 450px;
  border-bottom: 1.5rem solid white;
}

/* line 532, ../sass/screen.scss */
#stories .container h3 {
  background-color: #003E7E;
  min-height: 100px;
  width: 34.375rem;
  margin-bottom: 0;
}

/* line 538, ../sass/screen.scss */
#stories .container h3 span {
  color: white;
  font-size: 3rem;
  font-weight: normal;
}

/* line 543, ../sass/screen.scss */
#stories .container button {
  color: white;
  text-align: left;
  font-size: 1.3rem;
  line-height: 1.5rem;
  outline: none;
  border: 0;
}

/* line 551, ../sass/screen.scss */
#stories .container p {
  margin: 20px 0;
  line-height: 1.5rem;
  font-size: 1.2rem;
  color: #003E7E;
}

/* line 557, ../sass/screen.scss */
div.container.call-out {
  background-color: #3BB2F1;
  min-height: initial !important;
  padding: 5px 0;
  font-size: 1.2rem;
}

/* line 563, ../sass/screen.scss */
div.container.call-out + div {
  padding-bottom: 4rem;
}

/* line 566, ../sass/screen.scss */
section.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

/* line 570, ../sass/screen.scss */
.collapse {
  padding-bottom: 3rem;
}

/* line 573, ../sass/screen.scss */
.container-fluid.storyOne {
  background-image: url(../images/student-success.jpg);
  background-size: cover;
  background-position: center;
  transition: all .5s;
}

/* line 579, ../sass/screen.scss */
.container-fluid.storyTwo {
  background-image: url(../images/rtr-fund.jpg);
  background-size: cover;
  transition: all .5s;
}

/* line 584, ../sass/screen.scss */
.container-fluid.storyThree {
  background-image: url(../images/tech-graduate.jpg);
  background-size: cover;
  transition: all .5s;
}

/* line 589, ../sass/screen.scss */
.container-fluid.storyFour {
  background-image: url(../images/research-growth.jpg);
  background-size: cover;
  background-position: center;
  transition: all .5s;
}

/* line 595, ../sass/screen.scss */
.container-fluid.storyFive {
  background-image: url(../images/emir-moore.jpg);
  background-size: cover;
  background-position: center;
  transition: all .5s;
}

/* line 601, ../sass/screen.scss */
.container-fluid.storySix {
  background-image: url(../images/athletics-gpa.jpg);
  background-size: cover;
  background-position: center;
  transition: all .5s;
}

/* line 607, ../sass/screen.scss */
.container-fluid.storySeven {
  background-image: url(../images/ut-pharmacy.jpg);
  background-size: cover;
  background-position: center;
  transition: all .5s;
}

/* line 613, ../sass/screen.scss */
button.navbar-toggler {
  outline: none;
  border: 0;
}

/* line 617, ../sass/screen.scss */
.navbar-toggler-icon img {
  width: 80%;
  height: auto;
  margin-top: 1rem;
}

@media (max-width: 575.98px) {
  /* line 624, ../sass/screen.scss */
  #title img {
    width: 70%;
  }

  /* line 627, ../sass/screen.scss */
  #title {
    margin-top: 12rem;
  }

  /* line 630, ../sass/screen.scss */
  .btn {
    font-size: 1.5rem;
  }

  /* line 633, ../sass/screen.scss */
  .navbar-brand {
    width: 55%;
  }

  /* line 636, ../sass/screen.scss */
  #presltr h4, #utpresltr h4 {
    font-size: 2rem;
  }

  /* line 639, ../sass/screen.scss */
  #presChair, #utpres {
    -webkit-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }

  /* line 643, ../sass/screen.scss */
  div.modal-body .col-3 {
    -webkit-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }

  /* line 647, ../sass/screen.scss */
  img[alt="Mark Leutke"], img[alt="Brenda S. Lee"], img[alt="Gregory Postel"] {
    max-width: none;
    height: auto;
  }

  /* line 651, ../sass/screen.scss */
  #financials h2 {
    margin: 1rem 0 0 0;
  }

  /* line 654, ../sass/screen.scss */
  #financials button {
    margin: .5rem;
  }

  /* line 657, ../sass/screen.scss */
  h1 {
    font-size: 2rem;
  }

  /* line 660, ../sass/screen.scss */
  footer nav {
    line-height: 1.6rem;
  }

  /* line 663, ../sass/screen.scss */
  main section:nth-child(1) {
    height: 60vh;
  }

  /* line 666, ../sass/screen.scss */
  main section:nth-child(2) div div:nth-child(1) a {
    font-size: 1.5rem;
  }

  /* line 669, ../sass/screen.scss */
  main section:nth-child(2) div div:nth-child(2) p {
    font-size: 1.5rem;
  }

  /* line 672, ../sass/screen.scss */
  main section:nth-child(2) div div:nth-child(1), main section:nth-child(2) div div:nth-child(2), main section.container div.row div:nth-child(3) {
    max-width: 80%;
    margin: 0 auto 30px;
  }

  /* line 676, ../sass/screen.scss */
  main section:nth-child(2) {
    padding-top: 50px;
  }

  /* line 679, ../sass/screen.scss */
  #yip div {
    max-width: 100%;
  }

  /* line 682, ../sass/screen.scss */
  .yipDesc {
    flex-direction: column;
  }

  /* line 686, ../sass/screen.scss */
  #photo7 {
    background-position: center;
  }

  /* line 689, ../sass/screen.scss */
  #photo8 {
    background-position: center;
  }

  /* line 692, ../sass/screen.scss */
  .container-fluid.storyTwo, .container-fluid.storyThree, .container-fluid.storyFive {
    background-position: center right;
  }

  /* line 695, ../sass/screen.scss */
  .container-fluid.storyTwo, .container-fluid.storyThree, .container-fluid.storyFive {
    background-position: center right;
  }

  /* line 698, ../sass/screen.scss */
  .container-fluid.storyFive {
    background-position-x: -670px;
  }

  /* line 701, ../sass/screen.scss */
  .container-fluid.storyFour {
    background-position: center;
  }

  /* line 705, ../sass/screen.scss */
  .container-fluid.storySeven {
    background-position: -150px center;
  }

  /* line 708, ../sass/screen.scss */
  footer h3 {
    margin: 2rem 0;
  }

  /* line 711, ../sass/screen.scss */
  footer {
    text-align: center;
    padding: 2.5rem 4rem;
  }

  /* line 715, ../sass/screen.scss */
  #links {
    display: none;
  }

  /* line 718, ../sass/screen.scss */
  #linksMobile a {
    color: #FFD200;
    text-align: center;
    margin-top: 20px;
    display: block;
    padding-left: 0;
  }

  /* line 725, ../sass/screen.scss */
  #mobileUT {
    max-width: 50%;
    height: auto;
    display: block;
    margin: 2rem auto 0;
  }

  /* line 731, ../sass/screen.scss */
  div.finHeader div.col-5 {
    max-width: none;
    flex: 1;
  }

  /* line 735, ../sass/screen.scss */
  #financials p {
    margin-bottom: 1rem;
  }

  /* line 738, ../sass/screen.scss */
  #financials .nav {
    flex-wrap: nowrap;
  }

  /* line 741, ../sass/screen.scss */
  #finTotal {
    max-width: none;
    flex: 1;
    margin-top: 1.2rem;
  }

  /* line 746, ../sass/screen.scss */
  #finTotal p {
    margin: 1rem 0;
  }

  /* line 749, ../sass/screen.scss */
  .nav-tabs .nav-link {
    font-size: 100%;
  }

  /* line 752, ../sass/screen.scss */
  #myTabContent .col-4 {
    flex: none;
    max-width: none;
  }

  /* line 756, ../sass/screen.scss */
  .carousel-item img {
    width: 100% !important;
  }
}
@media (min-width: 576px) {
  /* line 765, ../sass/screen.scss */
  .container-fluid.storyTwo {
    background-position: center -90px;
  }

  /* line 768, ../sass/screen.scss */
  #links {
    display: none;
  }

  /* line 771, ../sass/screen.scss */
  #title img {
    width: 50%;
    height: auto;
  }

  /* line 775, ../sass/screen.scss */
  .col-sm-3 {
    -webkit-flex: 40%;
    flex: 40%;
    max-width: 40%;
  }

  /* line 779, ../sass/screen.scss */
  #mobileUT {
    max-width: 50%;
    height: auto;
    display: block;
    margin: 2rem auto 0;
  }

  /* line 785, ../sass/screen.scss */
  #linksMobile a {
    color: #FFD200;
    text-align: center;
    margin-top: 20px;
    display: block;
    padding-left: 0;
  }

  /* line 792, ../sass/screen.scss */
  .container-fluid.storyTwo {
    background-position: center;
  }

  /* line 795, ../sass/screen.scss */
  .container {
    width: 90%;
    max-width: 90%;
    margin: 0 auto;
  }

  /* line 800, ../sass/screen.scss */
  footer img {
    display: block;
    margin: 0 auto;
  }

  /* line 804, ../sass/screen.scss */
  footer h3 {
    margin-top: 1rem;
  }

  /* line 807, ../sass/screen.scss */
  footer {
    text-align: center;
  }

  /* line 810, ../sass/screen.scss */
  footer .col-sm-3 {
    -webkit-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }

  /* line 814, ../sass/screen.scss */
  footer .col-sm-9 {
    -webkit-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }

  /* line 818, ../sass/screen.scss */
  div.modal-body .col-3 {
    -webkit-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}
@media (min-width: 992px) {
  /* line 832, ../sass/screen.scss */
  .navbar-expand-xl .navbar-toggler {
    display: none;
  }

  /* line 835, ../sass/screen.scss */
  #linksMobile {
    display: none;
  }

  /* line 838, ../sass/screen.scss */
  #links {
    display: block;
  }

  /* line 841, ../sass/screen.scss */
  #title img {
    width: 20%;
    height: auto;
  }
}
@media (min-width: 1200px) {
  /* line 849, ../sass/screen.scss */
  #title img {
    width: 30%;
    height: auto;
  }

  /* line 853, ../sass/screen.scss */
  .container {
    max-width: 1140px;
  }

  /* line 858, ../sass/screen.scss */
  .container-fluid.storySix {
    background-position: center;
  }

  /* line 861, ../sass/screen.scss */
  .container-fluid.storyThree {
    background-position: center -100px;
  }

  /* line 864, ../sass/screen.scss */
  .container-fluid.storyFour {
    background-position: center -120px;
  }

  /* line 867, ../sass/screen.scss */
  .col-sm-3 {
    -webkit-flex: 25%;
    flex: 25%;
    max-width: 25%;
  }

  /* line 871, ../sass/screen.scss */
  .container-fluid.storyTwo {
    background-position: center -90px;
  }

  /* line 874, ../sass/screen.scss */
  div.container.call-out {
    width: 100%;
    max-width: none;
  }

  /* line 878, ../sass/screen.scss */
  footer .col-sm-3 {
    -webkit-flex: 25%;
    flex: 25%;
    max-width: 25%;
  }

  /* line 882, ../sass/screen.scss */
  footer .col-sm-9 {
    -webkit-flex: 75%;
    flex: 75%;
    max-width: 75%;
    text-align: left;
  }

  /* line 887, ../sass/screen.scss */
  .tab-pane a {
    font-size: 1rem;
  }
}
